.user-management {
    padding: 20px;
    background-color: #162c46;
    border-radius: 8px;
    height: 92vh;
  }
  
  .user-management-heading {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .user-management-button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .user-management-button-activated {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .user-management-button-deactivated {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .user-management-table {
    border: 1px solid #dee2e6;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .user-management-table th {
    background-color: #343a40;
    color: white;
    text-align: center;
  }
  
  .user-management-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  
  .user-management-row:hover {
    background-color: #e9ecef;
  }
  
  .user-management-badge {
    font-size: 12px;
    font-weight: bold;
  }
  