.sidebar {
  width: 250px;
  margin-top: 10vh;
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; // Ensure there's spacing from the menu items
}

.nav-item {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-item .nav-text {
  margin-left: 10px;
}

.nav-item:hover {
  background-color: #495057;
}

.crm-submenu {
  padding-right: 60px;
  padding-top: 5px; // Add padding to separate submenu items
}

.submenu-item {
  display: flex;
  align-items: center;
  color: #adb5bd;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
}

.submenu-item:hover {
  color: #fff;
}

.submenu-item .nav-text {
  margin-left: 10px; // Ensure consistent spacing between icon and text in submenu
}

.sidebar.collapsed .nav-text {
  display: none; // Hide text when sidebar is collapsed
}

.sidebar.collapsed .submenu-item .nav-text {
  display: none; // Hide text for submenu items when sidebar is collapsed
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, P, .P{
color: rgb(49, 49, 49);
}

.svg-inline--fa .fa-chevron-down{
margin-right: 10vw;
}